body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
}

.hero-image {
  background-image: url("/static/img/webimage.jpg");
  background-color: #cccccc;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.welcome {
  margin: 0;
  color: white;
  text-align: center;
  vertical-align: center;
  text-shadow: 2px 2px darkgrey;
  letter-spacing: 1px;
  position: absolute;
  font-size: larger;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}
.services{
 background-color: white;
 margin: 2%;
 text-align: center;
 letter-spacing: 1px;
 }

.columna{
  float: left;
  width: 28%;
  height: 200px; 
  padding: 1px 30px;
  letter-spacing: 1px;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.index{
  vertical-align: bottom;
}

.btn {
    padding: 14px 24px;
    border: 10px;
    border-color: white;
    font-family: serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 1%; 
}

.btn:hover{
  background-color:rgb(255, 189, 246);
  color: whitesmoke;
}

.column {
  float: left;
  width: 25%;
}
.index:after{
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
  
@media screen and (max-width: 1127px) {
  .columna{
    width: 100%;
  }
}

#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 25px;
  height: 25px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
  margin-top: 250px;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


