{% extends 'layout.html' %}
{% block content %}
<form class="form" method="get" id="form1">
{{form.csrf_token}} 
<p>{{form.listener_sel.label}}</p> 
<select id="listener">
    {% for listener in dropdown_list %}
    <option value="{{ listener }}">{{ listener }}</option>
    {% endfor %}
</select>
<p>
    <button id="buttonID" form="form1" >Submit</button>
</p>
</form>
<script type = "text/javascript" language = "javascript">
console.log('start');
    jQuery(document).ready(function() {
       jQuery("#buttonID").click(function() {
           var listener_value = $('#listener').val();
		console.log(listener_value, ';jksdljfa;')
           var listener_name = $('#listener :selected').text(); 
               window.open(window.location.origin + "/artistpage/"+ listener_name, '_blank')
   
       });
    });
</script>
{% endblock %}