<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/home.css') }}">
    <!-- <script type="text/javascript" src="{{ url_for('static',filename='js/home.js') }}"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="hero-image">
    <div class=welcome>
      <h1>WELCOME TO SPOTIFY SHARE</h1>
      <h3>Discover more about yourself and others based on music taste</h3>
    </div>
  </div>
    
  <div class=services>
    <h2>OUR SERVICES</h2>
  </div> 
  
  <div class="columna">
    <h3>Metrics and visualization</h3>
    <p>Some text..</p>
  </div>

  <div class="columna">
    <h3>Similarity to other users</h3>
    <p>Some text..</p>
  </div>

  <div class="columna">
    <h3>Recommendations</h3>
    <p>Some text..</p>
  </div>

  <div class="index"> 
    <div class="column">
      <a href="/"><button class="btn">Home</button></a>
    </div>
    <div class="column">
      <a href="/welcome"><button class="btn">Welcome</button></a>
    </div>
    <div class="column">
      <a href="/login"><button class="btn">Login</button></a>
    </div>
    <div class="column">
      <a href="/database"><button class="btn">Database</button></a>
    </div>
  </div>

</body>
