
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/login.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/login.js') }}"></script>
  </head>

    <form action="" method="post" novalidate>
        {{form.hidden_tag() }}
            <h1> LOG IN TO SPOTIFY!</h1>
        <p>
            {{form.username.label }}<br>
            {{form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>

